.header {
  box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
  display: flex;
  padding-left: 20px;
}

.header h2 {
  margin: 10px 0px 20px 20px;
}

.main_note {
  align-items: center;
  justify-content: center;
  display: flex;
}

.main_note input {
  background-color: transparent;
  border: 0px solid;
  height: 40px;
  width: 260px;
  font-size: larger;
  font-weight: 600;
  outline: none;
}

.main_note textarea {
  background-color: transparent;
  border: 0px solid;
  height: 120px;
  width: 260px;
  font-size: larger;
  font-weight: 600;
  outline: none;
}

.MuiButton-root .plus_sign {
  font-size: 45px !important;
  font-weight: 900;
  color: #f4b400;
  cursor: pointer;
  z-index: 222;
  background: transparent;
}

.MuiButton-root:hover {
  background: #f4b400 !important;
}

.MuiButton-root:hover .plus_sign {
  color: #fff;
  background: transparent;
}

.note {
  background: #fff;
  border-radius: 7px;
  box-shadow: 02px 5px #ccc;
  padding: 10px;
  width: 240px;
  margin: 16px;
  float: left;
}

form {
  display: block;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  margin-top: 20px;
}

.note h1 {
  font-size: 1.1em;
  margin-bottom: 6px;
}

.note p {
  font-size: 1.1em;
  margin-bottom: 10px;
  white-space: pre-wrap;
  word-wrap: break-word;
}

.note .btn {
  position: relative;
  float: right;
  margin-right: 10px;
  color: #f4b400;
  border: none;
  width: 50px;
  height: 50px;
  background: transparent;
  cursor: pointer;
  outline: none;
  box-shadow: 3px 3px 15px -10px rgba(0, 0, 0, 0.35);
  border-radius: 50%;
}

.deleteIcon {
  width: 0.7em;
  height: 0.7em;
}

.note .btn:hover {
  background-color: #f5ba13;
}

note .btn:hover .deleteIcon {
  color: #fff;
}

.footer {
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 0;
  margin-left: 45%;
}